:root{
    --accent-color: #2196F3;
    --title-color: #212121;
    --text-color: #757575;
    --main-color: #FFFFFF;
    --section-color: #F5F4FA;
    --item-color: #FFFFFF;
    --footer-color: #2F303A;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.navigation{
    padding-top: 24px;
    padding-bottom: 25px;
}

.logo{
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    text-decoration: none;
    color: var(--accent-color);
}
.logo-span{
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    text-decoration: none;
    color: var(--title-color);
}
.navigation-link{
    font-weight: 500;
    letter-spacing: 0.28px;
    color: var(--title-color);
}
.navigation-link:hover,
.navigation-link:focus{
    color: var(--accent-color);
}
.contakts-link{
    color: var(--text-color);
}
.post{
    background-color: var(--footer-color);
}
.team-img{
    margin-bottom: 30px;
}
.post-title{
    font-size: 44px;
    font-weight: 900;
    letter-spacing: 2.64px;
    line-height: 136%;
    text-transform: uppercase;
    color: var(--main-color);
    padding-top: 200px;
    
}
.post-button{
    font-size: 16px;
    font-weight: 700;
    line-height: 2;
    color: rgb(255, 255, 255);
    background-color: var(--accent-color);
    cursor: pointer;
    margin-bottom: 200PX;
    border-radius: 4px;
    border: none;
}
.benefist-title{
    padding-top: 94px;
}
.benefist-text{
    padding-bottom: 94px;
}
.work-title{
    padding-bottom: 50px;
}
.work-img{
    padding-bottom: 94px;
}
.team{
    background-color: var(--section-color);
}
.team-div{
    background-color: white;
    
}
.team-title{
    padding-top: 94px;
}
.team-text{
    padding-bottom: 124px;
}
.filter-button{
    font-size: 16px;
    line-height: 162.5%;
    letter-spacing: 0.48px;
    color: #212121;
    border-radius: 4px;
    border: 0px;
    cursor: pointer;
    margin-top: 94px;
    margin-bottom: 50px;
}
.portfolio{
    padding-bottom: 64px;
}
.filter-button:hover,
.filter-button:focus{
    background-color:var(--accent-color);
    color: var(--item-color);
    border-radius: 4px;
    border: 0px; 
    
}
.portfolio-title{
    font-size: 18px;
    font-weight: 700;
    line-height: 200%;
    letter-spacing: 1.08px;
    color: #212121;
}
.portfolio-text{
    font-size: 16px;
    font-weight: 400;
    line-height: 187.5%;
    letter-spacing: 0.48px;
    color: var(--text-color);
}
.footer{
    background-color: var(--footer-color);
    padding-bottom: 60px;
    padding-top: 60px;
}
.footer-logo{
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    text-decoration: none;
    color: var(--accent-color);
}
.footer-span{
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    text-decoration: none;
    color: var(--item-color);
}
.addres-name{
    color: white;
}
.addres-link{
    color: var(--text-color);
    padding-bottom: 60px;
}
.navigation-list{
    display: flex;
}
.navigation-item{
    margin-right: 50px;
}
.contakts{
    display: flex;
}
.contakts-item{
    margin-left: 50px;
}
.navigation{
    display: flex;
    align-items: center;
}
.header-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-span{
    margin-right: 93px;
}
.benefist-list{
display: flex;
justify-content: space-between;
}
.benefist-item{
    width: 270px;
}
.work-list{
    display: flex;
    justify-content: space-between;
}
.work-item{
    width: 370px;
}
.team-list{
    display: flex;
    justify-content: space-between;
}
.team-item{
    width: 270px;
}
.addres{
    display: flex;
    flex-direction: column;
}
.footer-item{
    margin-top: 9px;
}
.team-title{
    text-align: center;
    margin-bottom: 50px;
    font-size: 36px;
}
.work-title{
    text-align: center;
    font-size: 36px;
}
.team-text{
    color: var(--text-color);
    text-align: center;
    padding-bottom: 30px;
}
.team-name{
    margin-bottom: 10px;
    text-align: center;
    font-weight: 500;
}
.team-div{
    margin-bottom: 94px;
}
.post-title{
    padding-bottom: 40px;
    text-align: center;
}
.post{
    text-align: center;
}
.benefist-title{
    padding-bottom: 10px;
}
.benefist-text{
    color: var(--text-color);
}
.post-button{
    padding: 10px 32px;
}
.filter{
    display: flex;
    justify-content: center;
}
.filter-item{
    margin-right: 8px;
}
.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.portfolio-item{
    margin-bottom: 30px;
    border: 1px solid #eee;
    padding-bottom: 20px;
}
.portfolio-title,
.portfolio-text{
    padding-left: 24px;
    padding-top: 24px;
}






