:root{
    --accent-color: #2196F3;
    --title-color: #212121;
    --text-color: #757575;
    --main-color: #FFFFFF;
    --section-color: #F5F4FA;
    --item-color: #FFFFFF;
    --footer-color: #2F303A;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 600;
}


.logo{
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
}
.navigation-link{
    font-weight: 500;
    letter-spacing: 0.28px;
    color: var(--title-color);
}
.navigation-link:hover,
.navigation-link:focus{
    color: var();
}
.contakts-link{
    color: var(--text-color);
}
.post{
    background-color: var(--footer-color);
}

.post-title{
    font-size: 44px;
    font-weight: 900;
    letter-spacing: 2.64px;
    line-height: 136%;
    text-transform: uppercase;
    color: var(--main-color);
}
.post-button{
    font-size: 16px;
    font-weight: 700;
    line-height: 2;
    color: black;
    background-color: var(--accent-color);
    cursor: pointer;
}



